<!--<div class="alert alert-danger" role="alert">-->
<!--  A simple primary alert-check it out!-->
<!--</div>-->
<!--<button class="btn btn-primary" (click)="showModal = true">toggle</button>-->
<!--<app-dialog-->
<!--  [show]="showModal"-->
<!--  [title]="'一个镖旗'"-->
<!--  (cancel)="onCancel()"-->
<!--  (confirm)="onConfirm()"-->
<!--&gt;</app-dialog>-->

<!--<app-sizer [(size)]="size"></app-sizer>-->
<!--<label [style.font-size.px]="size">fontSize: {{ size }}</label>-->

<!--<input type="text" [(ngModel)]="inputVal" />-->
<!--<p>inputVal is {{ inputVal }}</p>-->

<!--<h2>表单中使用ngModule</h2>-->
<!--<form>-->
<!--  <input-->
<!--    type="text"-->
<!--    [(ngModel)]="inFormVal"-->
<!--    [ngModelOptions]="{ standalone: true }"-->
<!--  />-->
<!--  <p>informVal is {{ inFormVal }}</p>-->
<!--</form>-->

<!--<p>完整写法</p>-->
<!--<input type="text" [ngModel]="expandVal" (ngModelChange)="expandVal = $event" />-->
<!--<p>expandVal is {{ expandVal }}</p>-->
<!--<app-if></app-if>-->
<!--<app-switch></app-switch>-->
<app-for></app-for>
